li:active{
background-color: cadetblue;
}
.mb-5:hover{
  border: 5px solid red;
  cursor: pointer;
animation-name: looz;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-duration: 1.3s;

}
@keyframes looz {
  0%{
  transform:rotateY(360deg);
}
100%{
  transform:rotateY(0deg);
}
50%{
  transform:rotateY(180deg);

}
}
